
.container--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
 top: 0;
 height: 68px;
  z-index: 500;
  background-color:#ffb8ca50;
  border-radius: 7px;
}

// .logo {
  // margin-top: 8px;
  // margin-left: 20px;
 
// }
.button-menu {
  // position: relative;
  // top:10px;
  // transform: translatey(-10%);
  background-color: transparent;
  border:none;
  cursor: pointer;
}