.container {
  max-width: 320px;
  width: 100%;
}
.container--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-top: 32px;
  margin-left: 32px;
}
.button-menu {
  position: relative;
  top:19px;
  transform: translatey(-19%);
  background-color: transparent;
  border:none;
  cursor: pointer;
}