<section class="advantages section" id="advantages">
    <div class="container advantages-container">
        <div class="advantages__thumb">
            <div class="amount-container">
                <p class="advantages__amount advantages__amount--milk">721</p>
            </div>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="advantages__thumb">
            <p class="advantages__amount advantages__amount--apples">16kg</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="advantages__thumb">
            <p class="advantages__amount advantages__amount--heart">84</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
    </div>
</section>