<section class="advantages section" id="advantages">
    <div class="container advantages-container">
        <h2 class="section-title visually-hidden">Переваги</h2>
        <div class="advantages__thumb">
            <p class="advantages__amount advantages__amount--milk">721</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="advantages__thumb">
            <p class="advantages__amount advantages__amount--apples">16kg</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="advantages__thumb">
            <p class="advantages__amount advantages__amount--heart">84</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
    </div>
</section>