<section class="menu-container js-menu-container" id="mobile-menu">
    <div class="mobile-wrapper">
        <!-- Кнопка "закрыть" -->
        <button class="menu-toggle btn js-close-menu" type="button">
            <svg class="mobile-menu__icon-close" width="20" height="20">
                <use class="icon-cross" href="/src/images/symbol-defs.svg#close"></use>
            </svg>
        </button>
        
        <!-- Mobile menu -->
            <button class="button-buy" type="button">
                <span class="button-buy__text">Buy now</span>
                <svg class="button-buy__icon" width="8" height="10">
                    <use class="vector-red" href="/src/images/symbol-defs.svg#icon-Vector-2"></use>
                </svg>
            </button>
            
            <nav class="mobile-menu">
                <ul class="mobile-menu__list">
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link mobile-menu__link--current" href="#">Home</a>
                    </li>
            
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link" href="#">About us</a>
                    </li>
            
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link" href="#">How it’s made?</a>
                    </li>
            
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link" href="#products">Our products</a>
                    </li>
            
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
    </div>
    
</section>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>
<!-- <script defer src="js/mobile-menu.js"></script> -->

