<header class="header">
   <nav class="navigation">
     <svg width="199" height="50">
       <use class="logo" href="./img/symbol-defs.svg#logo"></use>
     </svg>
   </nav>
   <div class="mobile-menu">
     <button type="button" class="button-menu" data-menu-button aria-expanded="false" aria-controls="menu-container">
       <svg width="20" height="12">
         <use class="icon-cross" href="./img/symbol-defs.svg#burger"></use>
         <use class="icon-menu" href="./img/symbol-defs.svg#close"></use>
       </svg>
     </button>
     <ul class="mobile-menu__list">
       <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Home</a></li>
       <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">About us</a></li>
       <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">How it’s made?</a></li>
       <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Our products</a></li>
       <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Contact</a></li>
     </ul>


   </div>
 </header>
