<div class="container">
    <h2 class="contact__title">Contacts</h2>
    <div class="contact__list">
        <div class="contact__item">
            <div class="contact__category--brown">
                <p class="contact__category--text">CAFE</p>
            </div>
            <div class="contact__location">
                <p class="contact__bolt">Chicago</p>
                <p class="contact__regular">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contact__sheddle">
                <p class="contact__sheddle--day">Monday - Friday</p>
                <p class="contact__sheddle--time">06:00 AM - 10:00 PM</p>
                <p class="contact__sheddle--day">Saturday - Sunday</p>
                <p class="contact__sheddle--time">08:00 AM - 16:00 PM</p>
            </div>
            <address class="contact__data">
                <a class="contact__link" href="tel:+610383766284">+61(0) 383 766 284</a><br>
                <a class="contact__link" href="mail.to:noreply@envato.com">noreply@envato.com</a>
            </address>
        </div>
        <div class="contact__item">
            <div class="contact__category--green">
                <p class="contact__category--text">FOOD TRUCK</p>
            </div>
            <div class="contact__location">
                <p class="contact__bolt">Los Angeles</p>
                <p class="contact__regular">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contact__sheddle">
                <p class="contact__sheddle--day">Monday - Friday</p>
                <p class="contact__sheddle--time">06:00 AM - 10:00 PM</p>
                <p class="contact__sheddle--day">Saturday - Sunday</p>
                <p class="contact__sheddle--time">08:00 AM - 16:00 PM</p>
            </div>
            <address class="contact__data">
                <a class="contact__link" href="tel:+610383766284">+61(0) 383 766 284</a><br>
                <a class="contact__link" href="mail.to:noreply@envato.com">noreply@envato.com</a>
            </address>
        </div>
        <div class="contact__item">
            <div class="contact__category--brown">
                <p class="contact__category--text">CAFE</p>
            </div>
            <div class="contact__location">
                <p class="contact__bolt">New York</p>
                <p class="contact__regular">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contact__sheddle">
                <p class="contact__sheddle--day">Monday - Friday</p>
                <p class="contact__sheddle--time">06:00 AM - 10:00 PM</p>
                <p class="contact__sheddle--day">Saturday - Sunday</p>
                <p class="contact__sheddle--time">08:00 AM - 16:00 PM</p>
            </div>
            <address class="contact__data">
                <a class="contact__link" href="tel:+610383766284">+61(0) 383 766 284</a><br>
                <a class="contact__link" href="mail.to:noreply@envato.com">noreply@envato.com</a>
            </address>
        </div>
    </div>
</div>
</div>
<ul class="contact__button__list">
    <li class="button__item">
        <button class="contact__button current" type="button">
            <span class="contact__button--text">Our Locations</span>
            <svg class="contact__button--icon" width="8" height="10">
                <use href="./images/symbol-defs.svg#icon-Arrow"></use>
            </svg>
        </button>
    </li>
    <li class="button__item">
        <button class="contact__button" type="button">
            <span class="contact__button--text">Franchise</span>
            <svg class="contact__button--icon" width="8px" height="10px">
                <use href="./images/symbol-defs.svg#icon-Arrow"></use>
            </svg>
        </button>
    </li>
</ul>