<!--customers reviews-->
<section class="customers-reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title visually-hidden" id="customer-reviews">
      Customer reviews
    </h2>
    <ul class="reviews__slider">
      <li class="reviews__item">
        <img
          class="reviews__image"
          srcset="
            images/customers/1customer.jpg   1x,
            images/customers/1customer@2x.jpg 2x
          "
          src="images/customers/1customer.jpg"
          alt="First customer photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="reviews__label">Emily, Los Angeles</span>
      </li>
      <li class="reviews__item">
        <img
          class="reviews__image"
          srcset="
            images/customers/2customer.jpg   1x,
            images/customers/2customer@2x.jpg 2x
          "
          src="images/customers/2customer.jpg"
          alt="Second customer photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="reviews__label">Leslie, Chicago</span>
      </li>
      <li class="reviews__item">
        <img
          class="reviews__image"
          srcset="
            images/customers/3customer.jpg   1x,
            images/customers/3customer@2x.jpg 2x
          "
          src="images/customers/3customer.jpg"
          alt="Third customer photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="reviews__label">Monica, New York</span>
      </li>
    </ul>
  </div>
</section>
