<ul class="gallery list">
  <li class="gallery__item">
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ./src/images/gallery/pic1-mb.jpg    1x,
          ./src/images/gallery/pic1-mb@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./src/images/gallery/pic1-mb.jpg"
        alt="ice cream1"
        width="43.59"
        height="43.86"
        loading="lazy"
      />
    </picture>
  </li>
  <li class="gallery__item">
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ./src/images/gallery/pic2-mb.jpg    1x,
          ./src/images/gallery/pic2-mb@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./src/images/gallery/pic2-mb.jpg"
        alt="ice cream2"
        width="43.59"
        height="43.86"
        loading="lazy"
      />
    </picture>
  </li>
  <li class="gallery__item">
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ./src/images/gallery/pic3-mb.jpg    1x,
          ./src/images/gallery/pic3-mb@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./src/images/gallery/pic3-mb.jpg"
        alt="ice cream3"
        width="43.59"
        height="43.86"
        loading="lazy"
      />
    </picture>
  </li>
</ul>
