<header class="header">
  <div class="container container--flex">
    <nav class="navigation">
      <svg class="logo" width="199" height="50">
        <a href="/index.html">
          <use href="/src/images/symbol-defs.svg#logo"></use>
      </svg>
      </a>
    </nav>
    <div class="mobile-menu">
      <button type="button" class="button-menu js-open-menu" aria-expanded="false" aria-controls="menu-container">
        <svg width="20" height="12">
          <use class="icon-cross" href="/src/images/symbol-defs.svg#burger"></use>
          <use class="icon-menu" href="/src/images/symbol-defs.svg#close"></use>
        </svg>
      </button>
      <!-- <ul class="mobile-menu__list">
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Home</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">About us</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">How it’s made?</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Our products</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#contact">Contact</a></li>
      </ul> -->
    </div>
  </div>
</header>