<header class="header">
  <svg>
    <use href="images/symbol-defs.svg#icon-logo"></use>
  </svg>
  <nav class="navigation">
     <button type="button" class="button-menu" data-menu-button aria-expanded="false" aria-controls="menu-container">
       <svg width="20" height="12">
         <use class="icon-cross" href="images/symbol-defs.svg#burger"></use>
         <use class="icon-menu" href="images/symbol-defs.svg#close"></use>
       </svg>
     </button>
  </nav>
  <div class="mobile-menu">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Home</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">About us</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">How it’s made?</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Our products</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#contact">Contact</a></li>
    </ul>


  </div>
</header>